<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.demo.mapper.PermissionMapper">

    <resultMap id="permissionMap" type="com.study.demo.bean.Permission">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectPermission" parameterType="java.lang.String" resultMap="permissionMap">
        select p.* from t_permission p
        join t_role_permission rp on rp.permission_id = p.id
        join t_role r on r.id = rp.role_id
        where r.id = #{value}
	</select>

    <select id="findPermissionByRoleId" resultType="com.study.demo.bean.Permission">

    </select>
</mapper>