<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.demo.mapper.UserMapper">

    <select id="findUserList" resultType="com.study.demo.bean.User">
        select * from user
    </select>

    <select id="findUserById" parameterType="java.lang.String" resultType="com.study.demo.bean.User">
        select * from user where id = #{value}
    </select>

    <select id="findUserByUsername" parameterType="java.lang.String" resultType="com.study.demo.bean.User">
        select * from user where username = #{value}
    </select>
</mapper>