<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.demo.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.study.demo.bean.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <collection property="roles" ofType="com.study.demo.bean.Role" select="com.study.demo.mapper.RoleMapper.findRoleByUserId" column="id"></collection>
    </resultMap>

    <select id="findUserList" resultMap="userResultMap">
         select * from t_user
    </select>

    <select id="findUserById" parameterType="java.lang.Long" resultMap="userResultMap">
        select * from t_user where id = #{value}
    </select>

    <select id="findUserByUsername" parameterType="java.lang.String" resultMap="userResultMap">
        select * from t_user where username = #{value}
    </select>

    <insert id="createUser" parameterType="com.study.demo.bean.User">
        insert into t_user (username,password,create_time) values (#{username}, #{password}, now());
    </insert>

    <update id="updateUser" parameterType="com.study.demo.bean.User">
        update t_user set username = #{username} where id = #{id}
    </update>

    <update id="deleteUser" parameterType="java.lang.Long">
        update t_user set is_del = -1 where id = #{id}
    </update>

    <insert id="createUserRoles" parameterType="java.util.List">
         insert into t_user_role (user_id,role_id) values
         <foreach collection="list" item="item" index="index" separator=",">
             (#{item.userId}, #{item.roleId})
         </foreach>
    </insert>

    <update id="deleteUserRoles" parameterType="java.lang.Long">
        delete from t_user_role where user_id = #{value}
    </update>
</mapper>